<ion-content>

  <div class="flex-center">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://media.licdn.com/dms/image/D4D03AQEaNFvKW0ZipQ/profile-displayphoto-shrink_800_800/0/1683969786052?e=2147483647&v=beta&t=SV_zNBzLUSHhrZfq9dnMeNk1EYoa3XxZcyAwPsA6vzU"/>
      <ion-card-header>
        <ion-card-title color="success">recycler</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">Forget email/password</ion-button>
        <ion-button color="success" size="full"(click)= "login()">Login</ion-button>
        <ion-button color="success" fill="clear" size="full"(click)= "register()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
